{% extends 'home.html' %}
{% load static %}

{% block content %}

  
  <div id="productDetail" class="product-detail-container">
    <img id="detailImage" class="product-image" src="{{ product.get_image_url }}" alt="{{ product.name }}" />
    <div class="product-info">
      <div class="product-title" id="detailTitle">{{ product.name }}</div>
      <div class="product-description" id="detailDesc">{{ product.description }}</div>
      <div class="product-price" id="detailPrice">Rs {{ product.price }}</div>
      <div class="shop-name" id="detailShop"><em>Shop: {{ product.category }}</em></div>
      <div class="quantity">Quantity: 1</div>
      <div class="actions">
        <a href="{% url 'add_to_cart' product.id %}"><button class="buy-button">Add to Cart</button>
        <button class="chat-button">Live Chat</button>
      </div>
    </div>
  </div>
   
{% if similar_products %}
<h2 class="section-title">You May Also Like</h2>
  <section class="products">
    {% for sim in similar_products %}
      <div class="product-card">
        <a href="{% url 'product_detail' sim.id %}" style="text-decoration:none;">
          <img src="{{ sim.get_image_url }}" alt="{{ sim.name }}">
          <div class="product-name">{{ sim.name }}</div>
          <div class="product-category">{{ sim.category }}</div>
          <div class="product-price">Rs {{ sim.price }}</div>
        </a>
      </div>
    {% endfor %}
  </section>
{% else %}
  <p>No similar products found.</p>
{% endif %}

  <div style="display: flex; justify-content: center;">
   <a href="{% url 'shop' %}" style="display: inline-block; padding: 10px 20px; background-color: white; color:rgb(213, 33, 33); border: 2px solid rgb(213, 33, 33); border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0 2px 5px rgba(0,0,0,0.1); transition: all 0.3s;">
    ← Back to Shop
</a>
</div>


<h2>Reviews</h2>

{% for review in reviews %}
    <div class="review">
        <strong>{{ review.reviewer.username }}</strong> - 
        <span class="review-rating">
         {% for i in "12345" %}
  {% if forloop.counter <= review.rating %}
    ★
  {% else %}
    ☆
  {% endif %}
{% endfor %}

        </span>
        <p>{{ review.comment }}</p>
        <small>{{ review.created_at|date:"F j, Y, g:i a" }}</small>
    </div>
{% empty %}
    <p>No reviews yet.</p>
{% endfor %}

{% if user.is_authenticated %}
    <h3>Write a Review</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to write a review.</p>
{% endif %}

{%endblock%}