{% extends 'home.html' %}
{% load static %}

{% block content %}
<style>
.shop-products {
   display: grid;
  grid-template-columns: repeat(4, 1fr);  /* Default: 3 per row */
  gap: 20px;
  padding: 20px;
}
.shop-product-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  background: white;
}
@media (max-width: 992px) {
  .shop-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (1 item per row) */
@media (max-width: 600px) {
  .section-title {
    font-size: 15px;
  }

  .product-name {
    font-size: 10px;
  }

  .product-price {
    font-size: 9px;
  }

  .product-category {
    font-size: 12px;
  }

  .buy-button {
    font-size: 13px;
    padding: 8px 14px;
  }

  .shop-product-image {
    width: 150px;
    height: 130px;
  }

  .shop-product-card {
    padding: 10px;
    margin-bottom: 15px;
  }
}
</style>
<body>
 
<section class="search-bar">
  <div class="search-container">
    <form method="get" action="{% url 'search' %}" class="search-form">
      <input type="text" name="q" placeholder="Search for vintage jackets, bags, shoes..." required>
      <button type="submit">Search</button>
      <a href="{% url 'view_cart' %}" class="cart-button" title="View Cart"><i class="fas fa-shopping-cart custom-cart-icon"></i>
      </a>
    </form>
  </div>
</section>

<h2 class="section-title">All Products</h2>
  <section class="shop-products">
    {% for product in products %}
      <div class="shop-product-card"> 
        <a href="{% url 'product_detail' product_id=product.product_id %}" style="text-decoration:none;">
       <img class="shop-product-image" src="{{ product.get_image_url }}" alt="{{ product.name }}">


        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">Rs {{ product.price }}</div></a>
        <div class="product-category">{{ product.category }}</div>
        <a href="{% url 'product_detail' product_id=product.product_id %}"><button class="buy-button">View</button></a>
      </div>
    {% empty %}
      <p>No products found.</p>
    {% endfor %}
  </section>
</body>

{% endblock %}