{% extends 'home.html' %}
{% load static %}

{% block content %}

  </header>
<h2 class="section-title">All Products</h2>
  <section class="shop-products">
    {% for product in products %}
      <div class="shop-product-card"> 
        <a href="{% url 'product_detail' product.id %}" style="text-decoration:none;">
       <img class="shop-product-image" src="{{ product.get_image_url }}" alt="{{ product.name }}">


        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">Rs {{ product.price }}</div></a>
        <div class="product-category">{{ product.category }}</div>
        <a href="{% url 'product_detail' product.id %}"><button class="buy-button">View</button></a>
      </div>
    {% empty %}
      <p>No products found.</p>
    {% endfor %}
  </section>
  <script>
  function toggleDropdown() {
    const dropdown = document.getElementById("profileDropdown");
    dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
  }

  // Optional: hide dropdown when clicking outside
  window.onclick = function(event) {
    if (!event.target.matches('.profile-pic')) {
      const dropdown = document.getElementById("profileDropdown");
      if (dropdown && dropdown.style.display === "block") {
        dropdown.style.display = "none";
      }
    }
  }
</script>

{% endblock %}